body {
    background-color: #cfc;
}

.view {
    width: 800px;
    margin: 10px auto;
    padding: 10px;

    background-color: #fff;
    border: 1px solid #ccc;
    
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}